{% extends "pMentHa/layout.html" %}
{% load static %}
{% block body %}
    <header>
        <div class="topmenu">
            <a class="active" href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a>
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-head-side-virus"></i> Projeto MentHa</button>
                <div class="dropdown-content">
                    <a href="{% url 'protocolo' %}"> Protocolo-MentHa</a>
                    <a href="{% url 'mentha-care' %}"> MentHa-Care</a>
                    <a href="">MentHa-COG</a>
                </div>
            </div>
            <a href="{% url 'contact' %}"><i class="fa fa-fw fa-envelope"></i> Contactos</a>
            <div class="top-right">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="dropbtn">Bem vindo {{ user.username }}!</button>
                        <div class="dropdown-content2">
                            <a href="{% url 'logout_' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login_' %}"><i class="fas fa-fingerprint"></i> Login</a>
                {% endif %}
            </div>
        </div>
        <img class="img" src="{% static "pMentHa/images/mentha.png" %}" alt="velhotes"/>
    </header>
    <main>
        <hr class="line">
        <div class="vl"></div>
        <img class="velhinhos" src="{% static "pMentHa/images/velhinhos.png" %}" alt="velhotes">
        <br>
        <h2 class="h2_index"> MentHA-COG</h2>
        <br>
        <div class="explain">
             <p>O Programa de Estimulação Cognitiva MentHA - Mental Health and Aging - “MentHA-COG”,
                 desenvolvido no âmbito das intervenções não farmacológicas, é dirigido a pessoas com
                 e sem patologia mental prévia (doença ou deficiência) que apresentam comprometimento
                 neuropsicológico e/ou demência.</p>
            <p>A aplicação pressupõe a estimulação através da dinamização de tarefas que incidem sobre
                a funcionalidade cognitiva e social, contemplando elementos sociais e atividades cognitivas
                globais. Contudo, ao contrário dos tradicionais programas de estimulação, o Programa MentHA
                integra também o treino de funções cognitivas específicas.</p>
        </div>
        <br>
        <br>
        <img class="promotores" src="{% static "pMentHa/images/promotores.png" %}" alt="promotores"/>
    </main>
{% endblock %}


