{% extends "pMentHa/layout.html" %}
{% load static %}
{% block body %}
    <header>
        <div class="topmenu">
            <a class="active" href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a>
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-head-side-virus"></i> Projeto MentHa</button>
                <div class="dropdown-content">
                    <a href="{% url 'protocolo' %}"> Protocolo-MentHa</a>
                    <a href="{% url 'mentha-care' %}"> MentHa-Care</a>
                    <a href="{% url 'cog' %}">MentHa-COG</a>
                </div>
            </div>
            <a href="{% url 'contact' %}"><i class="fa fa-fw fa-envelope"></i> Contactos</a>
            <div class="top-right">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="dropbtn">Bem vindo {{ user.username }}!</button>
                        <div class="dropdown-content2">
                            <a href="{% url 'logout_' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login_' %}"><i class="fas fa-fingerprint"></i> Login</a>
                {% endif %}
            </div>
        </div>
        <img class="img" src="{% static "pMentHa/images/mentha.png" %}" alt="velhotes"/>
    </header>
    <main>
        <hr class="line">
        <div class="vl"></div>
        <div class="velhinhos">
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fprojetomentha%2Fvideos%2F268623940710435%2F&show_text=false&width=560&t=0"
                    width="300" height="230" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    allowFullScreen="true"></iframe>
        </div>

        <br>
        <h2 class="h2_index"> Projeto MentHa</h2>
        <br>
        <div class="explain">
            <p class="p_index"> O Projecto MentHA - “Mental Health and Aging”, é um empreendimento colaborativo de
                investigadores e instituições público-privadas, sem fins lucrativos, que pretende avaliar os efeitos da
                reabilitação neuropsicológica em pessoas mais velhas com defeito cognitivo ou demência leve, com e sem
                patologia mental prévia (diagnosticada). </p>
            <p class="p_index">Os testes selecionados para este trabalho são frequentemente utilizados na prática
                clínica internacional e nacional com reconhecida qualidade técnica na identificação das funções
                cogni-tivas e validados para a população portuguesa. Adicionalmente, a escolha dos instrumentos recaiu
                também no facto de serem medidas de avaliação de aplicação breve. </p>
        </div>
        <img class="promotores" src="{% static "pMentHa/images/promotores.png" %}" alt="promotores"/>
    </main>
{% endblock %}