{% extends "pMentHa/layout.html" %}
{% load static %}
{% block body %}
    <header>
        <div class="topmenu">
            <a href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a>
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-head-side-virus"></i> Projeto MentHa</button>
                <div class="dropdown-content">
                     {% if user.is_authenticated %}
                        <a href="{% url 'patientoverview' %}">ProtocoloMentHa</a>
                    {% else %}
                        <a href="{% url 'login_' %}">ProtocoloMentHa</a>
                    {% endif %}
                    <a href="{% url 'mentha-care' %}"> MentHaCare</a>
                    <a href="">MentHaCOG</a>
                </div>
            </div>
            <a href=""><i class="fa fa-fw fa-envelope"></i> Contactos</a>
            <div class="top-right">
                <a class="active" href="{% url 'login_' %}"><i class="fas fa-fingerprint"></i> Login</a>
            </div>
        </div>

        <img class="img" src="{% static "pMentHa/images/mentha.png" %}" alt="velhotes"/>
    </header>
    <hr class="line">
    {% if message %}
        <div style="text-align: center;">
            <span>
                {{ message }}
            </span>
        </div>
    {% endif %}
    <div class="wrapper">
        <div id="formContent">
            <h4 class="activeH2"> Log In </h4>
            <a href="{% url 'register' %}"><h4 class="inactiveH2 underlineHover2">Registar </h4></a>
            <form action="{% url 'login_' %}" method="POST">
                {% csrf_token %}
                <input class="login_text" type="text" id="username" name="username" placeholder="username">
                <input class="login_password" type="password" id="password" name="password" placeholder="palavra-chave">
                <input class="but" type="submit" value="Entrar">
            </form>
            <div id="formFooter">
                <a class="underlineHover" href="{% url 'register' %}">Forgot Password?</a>
            </div>
        </div>
    </div>
{% endblock %}
