<!--
template para renderizar pergunta de desenvolvimento
-->
{% extends "pMentHa/layout.html" %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'pMentHa/patientoverview.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
    <img class="img" src="{% static "pMentHa/images/mentha.png" %}" />
    <form action="{% url 'fazPergunta' questionID resolutionID %}" method="POST">
    {% csrf_token %}
        {% include fileName %}
        <input type="submit" name="Submeter">
    </form>
{% endblock %}
