{% extends "pMentHa/layout.html" %}
{% load static %}
{% block body %}
    <header>
        <div class="topmenu">
            <a class="active" href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a>
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-head-side-virus"></i> Projeto MentHa</button>
                <div class="dropdown-content">
                    <a href="{% url 'protocolo' %}"> Protocolo-MentHa</a>
                    <a href="{% url 'mentha-care' %}"> MentHa-Care</a>
                    <a href="{% url 'cog' %}">MentHa-COG</a>
                </div>
            </div>
            <a href="{% url 'contact' %}"><i class="fa fa-fw fa-envelope"></i> Contactos</a>
            <div class="top-right">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="dropbtn">Bem vindo {{ user.username }}!</button>
                        <div class="dropdown-content2">
                            <a href="{% url 'logout_' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login_' %}"><i class="fas fa-fingerprint"></i> Login</a>
                {% endif %}
            </div>
        </div>
        <img class="img" src="{% static "pMentHa/images/mentha.png" %}" alt="velhotes"/>
    </header>
    <main>
        <hr class="line">
        <div class="vl"></div>
        <img class="velhinhos" src="{% static "pMentHa/images/velhinhos.png" %}" alt="velhotes">
        <br>
        <h2 class="h2_index"> Protocolo MentHa</h2>
        <br>
        <div class="explain">
            <p> Protocolo de Avaliação MentHA, é um instrumento composto por várias provas
                neuropsicoló-gicas cuja selecção tem como objectivo proporcionar uma avaliação global do funcionamento
                (i) neurocognitivo (atenção complexa, função executiva, aprendizagem e memória linguagem
                per-ceptivomotor e a cognição social), (i) emocional (ansiedade, depressão), (iii) funcional
                (activida-des básicas e instrumentais de vida diária) e (iv) comportamental (sintomatologia
                psicopatoló-gica).</p>
            <p>Os testes selecionados para este trabalho são frequentemente utilizados na prática
                clínica internacional e nacional com reconhecida qualidade técnica na identificação das funções
                cogni-tivas e validados para a população portuguesa. Adicionalmente, a escolha dos instrumentos recaiu
                também no facto de serem medidas de avaliação de aplicação breve.</p>
        </div>
        <br>
        <div class="protocolo_options">
            {% if user.is_authenticated %}
                <a href="{% url 'regPatient' %}"><button class="testButton1">Inscrição de Pacientes</button></a>
                <a href="{% url 'patientoverview' %}"><button class="testButton1"style="margin-left: 10px">Avaliação de Pacientes</button></a>
            {% endif %}
        </div>
        <br>
        <img class="promotores" src="{% static "pMentHa/images/promotores.png" %}" alt="promotores"/>
    </main>
{% endblock %}


