{% extends "pMentHa/layout.html" %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'pMentHa/regPatient.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <div class="topmenu">
        <a href="{% url 'index' %}">Home</a>
        <a class="active" href="{% url 'regPatient' %}">ProtocoloMentHa</a>
        <a href="multimedia.html">MentHaCare</a>
        <a href="info.html">MentHaCOG</a>
        <a href="info.html">About Us</a>
    </div>
{% endblock %}
{% block body %}
        <img class="img" src="{% static "pMentHa/images/mentha.png" %}" />
        <div class="mainmenu">
            <a class="active" href="{% url 'regPatient' %}">Inscrição de Paciente</a>
            <a class= "unactive" href="{% url 'patientoverview' %}">Avaliações</a>
        </div>
         <form action="{% url 'regPatient' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <div class="leftpane">
                <div class="square">
                         <p>Inserir Fotografia</p>
                     </div>
                     <label class="left" for="fname">Nome:</label>
                     <input type="text" id="fname" name="firstname">

                     <label class="left" for="email">Email:</label>
                     <input type="text" id="email" name="email">

                     <label class="left" for="gender">Género</label>
                     <select id="gender" name="gender">
                         <option value="masculino">Masculino</option>
                         <option value="feminino">Feminino</option>
                         <option value="outro">Outro</option>
                     </select>

                     <label class="left" for="nacionality">Nacionalidade</label>
                     <select id="nacionality" name="nacionality">
                         <option value="portugal">Portugal</option>
                         <option value="espanha">Espanha</option>
                         <option value="outro">Outro</option>
                     </select>
                </div>
                <div class="middlepane">
                    <label class="left" for="date">Data de Nascimento:</label>
                    <input type="date" id="date" name="date">

                    <label class="left" for="disease">Doença degenerativa identificada?</label>
                    <input type="text" id="disease" name="disease">

                    <label class="left" for="disease2">Se sim, qual ou quais?</label>
                    <input type="text" id="disexase2" name="disease2">

                    <label class="left" for="number">Contacto</label>
                    <input type="number" id="number" name="number">
                </div>
                <div class="rightpane">
                    <a href="patientoverview-novo.html">
                    <input class="button" type="submit" value="Register">
                    </a>
                </div>
            </div>
         </form>
        <img class="promotores" src="{% static "pMentHa/images/promotores.png"%}"/>

{% endblock %}