{% extends "pMentHa/layout.html" %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'pMentHa/report.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
        <img class="img" src="{% static "pMentHa/images/mentha.png" %}" />
        <h3>O Relatório foi realizado pelo Revisor {{ advisor }}</h3>
        <br>
        <p>{{% for  in advisor %}

        {% endfor %}
        </p>
{% endblock %}
