{% extends "pMentHa/layout.html" %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'pMentHa/patientoverview.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <div class="topmenu">
        <a href="{% url 'index' %}">Home</a>
        <a class="active" href="{% url 'regPatient' %}">ProtocoloMentHa</a>
        <a href="multimedia.html">MentHaCare</a>
        <a href="info.html">MentHaCOG</a>
        <a href="info.html">About Us</a>
    </div>
{% endblock %}
{% block body %}
     <img class="img" src="{% static "pMentHa/images/mentha.png" %}" />
    <hr>
    <h1>{{ evaluation }}</h1>
    <form action="{% url 'patientoverview' %}" method="post">
        {% csrf_token %}
        {% for question in questions %}
            <label class="left" for="awnser">{{ question }}</label>
            <input type="text" id="awnser" name="awnser">
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <br>
            <input class="button" type="submit" value="Submeter teste">
        {% endfor %}
    </form>
{% endblock %}