body{
    background-position: center;
}
.topmenu {
    background-color: #4EB4BE;
    overflow: hidden;
  }

.topmenu  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
  }

.topmenu a:hover {
    background-color: #ddd;
    color: black;
  }

.topmenu a.active {
    background-color: #7CDDEA;
    font-weight: bold;
    color: white;
  }
.topmenu a.entrar {
    position: absolute;
    padding-left: 53%;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 45px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    margin-top: -300px;
    padding-left: 165px;
    font-weight: bolder;
}

.img {
    display: block;
    width: 1308px;
    height: 120px;
    padding-top: 30px;
    margin: auto;
    }

.explain{
    text-align: justify;
    padding-right: 20%;
    font-family: 'Roboto', sans-serif;
    margin-left: 165px;
    margin-right: 260px;
    margin-top: -10px;
    font-weight: lighter;

}

.line{
    display: block;
    margin-top: 50px;
    height: 1.5px;
    border-width: 0;
    color:#4EB4BE;
    background-color: #4EB4BE;
    width: 89%;
}

.vl{
    display: block;
    margin-left: 85px;
    margin-top: 35px;
    border-left: 1.5px solid #4EB4BE;
    height: 450px;

}

.promotores{
    display: block;
    width: 808px;
    height: 65px;
    margin:auto;
    padding-top: 80px;
}

.velhinhos{
    display: block;
    width: 302px;
    height: 198px;
    margin-left: auto;
    margin-top: -350px;
    margin-right:85px;
}

