{% extends "pMentHa/layout.html" %}
{% load static %}
{% block body %}
    <header>
        <div class="topmenu">
            <a href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a>
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-head-side-virus"></i> Projeto MentHa</button>
                <div class="dropdown-content">
                    <a href="{% url 'protocolo' %}">Protocolo-MentHa</a>
                    <a href="{% url 'mentha-care' %}"> MentHa-Care</a>
                    <a href="{% url 'cog' %}">MentHa-COG</a>
                </div>
            </div>
            <a href="{% url 'contact' %}"><i class="fa fa-fw fa-envelope"></i> Contactos</a>
            <div class="top-right">
                <div class="dropdown">
                    <button class="dropbtn">Bem vindo {{ user.username }}!</button>
                    <div class="dropdown-content2">
                        <a href="{% url 'logout_' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <img class="img" src="{% static "pMentHa/images/mentha.png" %}" alt="velhotes"/>
    </header>
    <h1 style="text-align: center;margin-top: 5%; color: darkslategrey;text-transform: uppercase">{{ test }}</h1>
    <div class="multiple">
        <h2 class="categoria">{{ question.category }}</h2>
        <form action="{% url 'fazPergunta' resolutionID question.id %}" method="POST" id="usrform">
            {% csrf_token %}
            {% if image %}
                <img id="myImg" src="{% static image %}" alt="Snow"
                     style="position:absolute;width:100%;max-width:100px;margin-left:35%;margin-top:-1%">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
                <script>// Get the modal
                var modal = document.getElementById("myModal");

                // Get the image and insert it inside the modal - use its "alt" text as a caption
                var img = document.getElementById("myImg");
                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");
                img.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                }

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }</script>
            {% endif %}
            <p>{{ order }}. {{ question.text }}</p>
            <textarea name="resposta" rows="10" cols="30">{{ answer }}</textarea>
            <input class="testButton" type="submit" value="Próxima Pergunta">
            <p>{{ question.explain }}</p>
        </form>
    <a href="{% url 'reportPrevQuestion' resolutionID question.id %}">
            <button class="testButton3">Pergunta Anterior</button>
        </a>
    </div>
    <br>
    <img class="promotores" src="{% static "pMentHa/images/promotores.png" %}"/>
{% endblock %}