<!-- snippet, pedaço de codigo para inserir no template -->

<h1>Saúde Global</h1>

<h3>A sua visão é (com ou sem correção):</h3>
    <label><input type="radio" name="resposta" value="0">: Normal</label>
    <label><input type="radio" name="resposta" value="1">: Má</label>
    <label><input type="radio" name="resposta" value="2">: Muito má ou cegueira</label>
<h3>A sua audição é (com ou sem correção):</h3>
    <label><input type="radio" name="resposta" value="0">: Normal</label>
    <label><input type="radio" name="resposta" value="1">: Má</label>
    <label><input type="radio" name="resposta" value="2">: Muito má ou cegueira</label>
<p>Cotar no MDA</p>
<h3>Já sofreu ou sofre:</h3>
<h4>Traumatismo Crânio-Encefálico</h4>
    <label><input type="radio" name="resposta" value="sim">: Sim</label>
    <label><input type="radio" name="resposta" value="nao">: Não</label>
<h4>Problemas de nervos(saúde mental)?</h4>
    <label><input type="radio" name="resposta" value="sim">: Sim</label>
    <label><input type="radio" name="resposta" value="nao">: Não</label>
    <label><input type="text" id="nervos" name="nervos">: Se Sim, qual?</label>


