{% block body %}
    <h1>Cognição</h1>
    <br>
    <h3>Costuma</h3>
    <h4>Perder-se com frequência?</h4>
        <label><input type="radio" name="lost" value="sim">: Sim</label>
        <label><input type="radio" name="lost" value="nao">: Não</label>
    <h4>Se sim, já alguma vez se perdeu perto de sua cas</h4>
        <label><input type="radio" name="resposta" value="sim">: Sim</label>
        <label><input type="radio" name="resposta" value="nao">: Não</label>
    <h4>Esquecer-se de onde está?</h4>
        <label><input type="radio" name="resposta" value="sim">: Sim</label>
        <label><input type="radio" name="resposta" value="nao">: Não</label>
    <h4> Tem dificuldade com as relações temporais
        (situar eventos no tempo em relação uns aos outros)?</h4>
        <label><input type="radio" name="resposta" value="sim">: Sim</label>
        <label><input type="radio" name="resposta" value="nao">: Não</label>
    <br>
    <h4>Queixar-se acerca da sua memória?</h4>
        <label><input type="radio" name="resposta" value="Sim, com alguma importancia">: Sim, com alguma importância</label>
        <label><input type="radio" name="resposta" value="Sim, mas sem importancia">: Sim, mas sem importância</label>
        <label><input type="radio" name="resposta" value="Sim, com problemas">: Sim, com problemas</label>
        <label><input type="radio" name="resposta" value="nao">: Não</label>
    <h4> Se sim, estes são frequentes?</h4>
        <label><input type="radio" name="resposta" value="1">: 1 = esquecimentos mais ou menos frequentes</label>
        <label><input type="radio" name="resposta" value="2">: 2 = esquecimentos muito frequentes ou amnésia</label>
    <h4> A perda de memória interfere com as actividades diárias que era capaz de fazer há uns anos atrás?</h4>
        <label><input type="radio" name="resposta" value="Sim">: Sim</label>
        <label><input type="radio" name="resposta" value="Não">: Não</label>
    <h4> Ser capaz recordar acontecimentos recentes?</h4>
        <label><input type="radio" name="resposta" value="Sim">: Sim</label>
        <label><input type="radio" name="resposta" value="Não">: Não</label>
    <h4>  Ser capaz de recordar acontecimentos importantes da sua vida passada (data de nascimento, casamento, emprego)</h4>
        <label><input type="radio" name="resposta" value="Sim">: Sim</label>
        <label><input type="radio" name="resposta" value="Não">: Não</label>
{% endblock %}